PROJECT_NAME="FADER Backend"
API_V1_STR="/api/v1"
CORS_ORIGINS=["http://localhost", "http://localhost:3000", "http://127.0.0.1:8000", "*"]
HOST=0.0.0.0
PORT=8000

# Database Configuration (Update password/port if needed)
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fader
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fader
